# Tugas Pendata Menghitung Jarak Pada Data(Tugas 2)
Nama :M. Hilmi Fajrul Alam

NIM :210411100175

Kelas :Penambangan Data-C

In [ ]:
import pandas as pd
from sklearn.metrics.pairwise import pairwise_distances

file_url = 'https://drive.google.com/file/d/1b6o-aNwpXF4Grl8ATYbfkOXBA5zohbIz/view?usp=share_link'

file_id = file_url.split('/')[-2]
dwn_url = "https://drive.google.com/uc?id=" + file_id
df = pd.read_csv(dwn_url, sep=',')
df = df.drop(columns=['Unnamed: 7'])
df.head()

,No.,Nama,Jenis Kelamin,Usia,Status,Riwayat Pendidikan,Pengalaman Kerja
0,1,Rara,Perempuan,28,belum menikah,S1,ada
1,2,Danu,Laki-laki,32,sudah menikah,SMA,ada
2,3,Rina,Perempuan,21,belum menikah,D3,tidak ada
3,4,Kina,Perempuan,26,sudah menikah,D1,ada
4,5,Dika,Laki-laki,23,belum menikah,SMP,tidak ada

## Keterangan Tipe Data

*   Kolom "Jenis Kelamin" merupakan tipe data biner asimetris karena nilainya hanya berupa laki-laki dan perempuan
*   Kolom "Usia" merupakan tipe data numerik karena nilainya berbentuk angka yang menggambarkan usia seseorang
*   Kolom "Status" merupakan tipe data merupakan tipe data kategrical/nominal karena terdiri dari kategori atau label yang hanya memiliki nilai atau nama tanpa memiliki urutan atau peringkat tertentu
*   Kolom "Riwayat Pendidikan" merupakan tipe data ordinal karena terdiri dari kategori atau label yang memiliki urutan atau peringkat
*   Kolom "Pengalaman Kerja" merupakan tipe data biner dikarenakan memiliki dua nilai

### Code untuk menggabungkan atribut yang berbeda ke dalam matriks ketidaksamaan tunggal

In [ ]:
X = df[['Jenis Kelamin', 'Usia', 'Status', 'Riwayat Pendidikan', 'Pengalaman Kerja']].copy()
X['Jenis Kelamin'] = pd.Categorical(X['Jenis Kelamin']).codes
X['Status'] = pd.Categorical(X['Status']).codes
X['Riwayat Pendidikan'] = pd.Categorical(X['Riwayat Pendidikan']).codes
X['Pengalaman Kerja'] = pd.Categorical(X['Pengalaman Kerja'], categories=['SMP', 'SMA', 'D1', 'D3', 'S1'], ordered=True).codes

### Code untuk menghitung matriks ketidaksamaan dengan skala interval antara [0,0,1.0]

In [ ]:
dist_matrix = pairwise_distances(X, metric='manhattan') / max(pairwise_distances(X, metric='manhattan').flatten())

### Code untuk menampilkan matriks ketidaksamaan

In [ ]:
print(dist_matrix)

[[0.         0.46666667 0.53333333 0.33333333 0.53333333]
 [0.46666667 0.         1.         0.66666667 0.73333333]
 [0.53333333 1.         0.         0.46666667 0.4       ]
 [0.33333333 0.66666667 0.46666667 0.         0.6       ]
 [0.53333333 0.73333333 0.4        0.6        0.        ]]